:root {
    --black: #000000;
    --white: #FFFFFF;
    --almost-white: #DCDCDC;
    --light-purple: #C0BADC;
    --purple: #9747FF;
    --dark-purple: #4B26FF;
    --cta-hover: #5C3AFF;
    --card-hover: #9D8FDC;
}

html {
    background: url(/images/unsplash_7JX0-bfiuxQ.png);
    background-size: cover;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.line {
    align-self: center;
    margin: 30px;
    max-width: 40%;
}

header, footer {
    background-color: var(--black);
    padding: 20px;
    color: var(--white);
}

header {
    position: sticky; 
    top: 0;
}

.bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

h1 {
    font-family: 'Krona One', sans-serif;
    align-self: center;
    text-align: center;
}

h2 {
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}

a {
    color: var(--white);
}

p, ul, a, label {
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}

.cta {
    background-color: var(--purple);
    padding: 10px 20px;
    color: var(--white);
    font-size: large;
    font-weight: bold;
    outline: auto var(--dark-purple);
    text-decoration: none;
}

.front-card {
    background-color: var(--light-purple);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 10px;
    margin: 30px;
    height: fit-content;
    width: 300px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.logo, .content {
    display: flex;
    align-items: center;
}

.content {
    width: 100%;
}

.logo-text {
    margin-top: 0px;
    text-align: center;
}

.right {
    align-items: flex-end;
}

p {
    display: flex;
    flex-direction: column;
}

.arrow {
    align-self: flex-end;
    padding-right: 2%;
    padding-bottom: 2%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 0.7;
    font-size: small;
    justify-content: space-between;
    padding-bottom: 0;
}

.non-list {
    list-style: none;
}

.logo-img {
    margin-top: 50px;
}

img, p {
    padding: 2%;
}

.back {
    font-family: 'Share Tech', sans-serif;
    font-weight: bold;
    color: var(--black);
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.large {
    font-size: larger;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.main-text {
    padding: 0 50px;
}

@media (min-width: 800px) {
    .front-card {
        width: 400px;
    }

    .bar {
        justify-content: space-around;
    }
}