:root {
    --black: #000000;
    --white: #FFFFFF;
    --almost-white: #DCDCDC;
    --light-purple: #C0BADC;
    --purple: #846BFB;
    --dark-purple: #4B26FF;
}

html {
    background: url(/images/unsplash_7JX0-bfiuxQ.png);
    height: fit-content;
    width: fit-content;
}

header, footer {
    background-color: var(--black);
    padding: 20px;
    color: var(--white);
    width: 100%;
}

.header {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

h2 {
    font-family: 'Share Tech', sans-serif;
}

a {
    color: var(--white);
}

p, ul, a {
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}

.cta {
    background-color: var(--purple);
    padding: 10px 20px;
    color: var(--white);
    font-size: large;
    font-weight: bold;
    outline: auto var(--dark-purple);
    text-decoration: none;
}

.front-card {
    background-color: var(--light-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.logo, .content {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-top: 0px;
}

.right {
    align-items: flex-end;
}

p {
    display: flex;
    flex-direction: column;
}

.arrow {
    align-self: flex-end;
    padding-right: 2%;
    padding-bottom: 2%;
}